/* FONTS */

/*font-family: 'Bigelow Rules', cursive;*/          /* Main Title */
/*font-family: 'Goudy Bookletter 1911', serif;*/    /* Body Text */

/* COLOURS */

/* #2d1f8c - Vibrant Blue
#080a40 - Deep Blue 
#222559 - Lighter Blue 
#181e40 - Darkest Blue 
#e9ecf2 - Light Grey
#a51d29 - Crimson Accent
#d8b478 - Gold Accent */

/* -------------- GLOBAL STYLES -------------- */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* -------------- HEADER STYLES -------------- */

#header {
background-color: #080a40;
height: 8rem;
width: 100%;
}
.titleText {
    font-family: 'Bigelow Rules', cursive;
    font-weight: 400;
    font-size: 6rem;
    color: #d8b478;
    margin-left: 5rem;
    line-height: 8rem;
}


/* -------------- GAME BODY STYLES -------------- */

#gameContainer {
    background-color: #222559;
    height: 100%;
    width: 100%;
}
.bodyText {
    /* border: 1px solid red; */
    font-family: 'Goudy Bookletter 1911', serif;
    color: #e9ecf2;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
}

/* -------------- CARD STYLES -------------- */

.cardGridContainer {
    /* border: 1px solid red; */
    display: grid;
    max-width: 85rem;
    margin: auto;
    padding: 4rem 0;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-template-rows: repeat(auto-fill, 410px);
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
}
.card {
    border: 15px solid #e9ecf2;
    border-radius: 8px;
    background-color: #e9ecf2;
    background-image: url(./images/tarot-back-red-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 380px;
}


/* -------------- FOOTER STYLES -------------- */

#footer {
    background-color: #080a40;
    height: 5.5rem;
    width: 100%;
    }
.footerText {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #e9ecf2;
    font-weight: 400;
    font-size: .8rem;
    line-height: 5.5rem;
    text-align: center;
}   
.textHighlight {
    color: #d8b478;
} 