/* FONTS */

/*font-family: 'Bigelow Rules', cursive;*/          /* Main Title */
/*font-family: 'Goudy Bookletter 1911', serif;*/    /* Body Text */

/* COLOURS */

/* #2d1f8c - Vibrant Blue
#080a40 - Deep Blue 
#222559 - Lighter Blue 
#181e40 - Darkest Blue 
#e9ecf2 - Light Grey
#a51d29 - Crimson Accent
#d8b478 - Gold Accent */

/* -------------- GLOBAL STYLES -------------- */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* -------------- HEADER STYLES -------------- */

#header {
background-color: #080a40;
height: 8rem;
width: 100%;
}
.titleText {
    font-family: 'Bigelow Rules', cursive;
    font-weight: 400;
    font-size: 5.6rem;
    color: #d8b478;
    margin-left: 5rem;
    line-height: 8rem;
}


/* -------------- GAME BODY STYLES -------------- */

#gameContainer {
    background-color: #222559;
    height: 100%;
    width: 100%;
}

/* -------------- BODY TEXT STYLES -------------- */
#textContainer {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    height: 7rem;
    margin-top: 3rem;
}
.bodyText {
    /* border: 1px solid red; */
    font-family: 'Goudy Bookletter 1911', serif;
    color: #e9ecf2;
    font-weight: 400;
    font-size: 2rem;
    /* text-align: center; */
    /* margin-top: 4rem; */
}
.yesBtn {
    border: 2px solid #e9ecf2;
    border-radius: 50%;
    font-family: 'Goudy Bookletter 1911', serif;
    color: #222559;
    font-weight: 600;
    font-size: 2rem;
    /* margin-top: 4rem; */
    background-color: #d8b478;
    height: 4rem;
    width: 4rem;
    text-align: center;
    line-height: 4rem;
    display: none;  /* ******JAVASCRIPT******* - to show once selection is made */
}


/* -------------- CARD STYLES -------------- */

.cardGridContainer {
    border: 1px solid red;
    max-width: 85rem;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}
.card {
    border: 15px solid #e9ecf2;
    border-radius: 8px;
    background-color: #e9ecf2;
    background-image: url(./images/tarot-back-red-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 380px;
}
.card:hover {  /* JAVASCRIPT - Remove once selection made!! */
    scale: 1.04;
    transition: 400ms;
}

/* For JAVASCRIPT - shows which cards are selected and which are not */
.selected {
    mix-blend-mode: luminosity;
}
.hideMe {
    display: none;
}






/* -------------- FOOTER STYLES -------------- */

#footer {
    background-color: #080a40;
    height: 5.5rem;
    width: 100%;
    }
.footerText {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #e9ecf2;
    font-weight: 400;
    font-size: .8rem;
    line-height: 5.5rem;
    text-align: center;
}   
.textHighlight {
    color: #d8b478;
    font-weight: 600;
} 