/* FONTS */

/*font-family: 'Bigelow Rules', cursive;*/          /* Main Title */
/*font-family: 'Goudy Bookletter 1911', serif;*/    /* Body Text */

/* COLOURS */

/* #2d1f8c - Vibrant Blue
#080a40 - Deep Blue 
#222559 - Lighter Blue 
#181e40 - Darkest Blue 
#e9ecf2 - Light Grey
#a51d29 - Crimson Accent
#d8b478 - Gold Accent */

/* -------------- GLOBAL STYLES -------------- */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* -------------- HEADER STYLES -------------- */

#header {
background-color: #080a40;
height: 8rem;
width: 100%;
}
.titleText {
    font-family: 'Bigelow Rules', cursive;
    font-weight: 400;
    font-size: 5.6rem;
    color: #d8b478;
    margin-left: 5rem;
    line-height: 8rem;
}


/* -------------- GAME BODY STYLES -------------- */

#gameContainer {
    background-color: #222559;
    height: 100%;
    width: 100%;
}

/* -------------- BODY TEXT STYLES -------------- */
#textContainer {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    height: 7rem;
    margin-top: 3rem;
}
.bodyText {
    /* border: 1px solid red; */
    font-family: 'Goudy Bookletter 1911', serif;
    color: #e9ecf2;
    font-weight: 400;
    font-size: 2rem;
    /* text-align: center; */
    /* margin-top: 4rem; */
}
#resetBtn {
    border: 2px solid #e9ecf2;
    border-radius: 50%;
    /* font-family: 'Goudy Bookletter 1911', serif; */
    /* color: #222559; */
    /* font-weight: 600; */
    /* font-size: 2rem; */
    /* margin-top: 4rem; */
    background-color: #d8b478;
    height: 4rem;
    width: 4rem;
    /* text-align: center; */
    /* line-height: 4rem; */
    display: none;  /* ******JAVASCRIPT******* - to show once selection is made */
}
#resetBtn span {
    font-size: 2.5rem;
    color: #222559;
    line-height: 4rem;
    padding: 0 .71rem;
    cursor: pointer;
}
#resetBtn:hover {
    scale: 1.1;
    transition: 400ms;
    cursor: pointer; 
}


/* -------------- CARD STYLES -------------- */

#cardGridContainer {
    /* border: 1px solid red; */
    max-width: 85rem;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}
.card {
    border: 15px solid #e9ecf2;
    border-radius: 8px;
    background-color: #e9ecf2;
    background-image: url(./images/tarot-back-red-small.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 380px;
    cursor: pointer;
    box-shadow: 6px 6px 6px #080a40;
}
.card:hover {  /* JAVASCRIPT - Remove once selection made!! */
    scale: 1.04;
    transition: 400ms;
    box-shadow: 8px 8px 12px #080a40;
} 

/* For JAVASCRIPT - shows which cards are selected and which are not */
.selected {
    mix-blend-mode: luminosity;
    border-color: #d8b478;
    background-color: #d8b478;
}
.hideMe {
    display: none;
}

/* -------------- FLIP CARD STYLES -------------- */
#threeCardContainer {
    /* border: 1px solid green; */
    width: 85rem;
    height: 410px; 
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.3rem;
    position: absolute;
    top: 24.1%;
    left: 50%;
    transform: translate(-50%);
    perspective: 500px;
    visibility: hidden;
}
.flipCard {
    border: 15px solid #e9ecf2;
    border-radius: 8px;
    background-color: #e9ecf2; 
    width: 200px;
    height: 380px;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    box-shadow: 6px 6px 6px #080a40;
}
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}
.front {
    /* border: 15px solid #e9ecf2; */
    border-radius: 8px;
    background-color: #e9ecf2;
    background-image: url(./images/tarot-back-red-small.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.back {
    /* border: 15px solid #e9ecf2; */
    border-radius: 8px;
    background-color: #e9ecf2;
    transform: rotateY(180deg);
}
.image {
    border: 2px solid #080a40;
    border-radius: 8px;
    width: 198px;
    height: 346px;
}
.cardText {
    /* border: 1px solid green; */
    font-family: 'Goudy Bookletter 1911', serif;
    color: #222559;
    font-weight: 600;
    font-size: 1.5rem; 
    text-align: center;
}


/* -------------- MESSAGE BOX STYLES -------------- */
#messageContainer {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%);
    min-width: 60%;
    min-height: 25%;
    background-color: #e9ecf2;
    border: 6px solid #080a40;
    border-radius: 10px;
    display: none; /* JAVASCRIPT to display box */
    /* opacity: 0; */
}
.fortune {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #222559;
    font-weight: 600;
    font-size: 1.5rem; 
    padding: 2rem 2.5rem;
    animation: fadeIn 30s;
    -webkit-animation: fadeIn 30s;
    -moz-animation: fadeIn 30s;
    -o-animation: fadeIn 30s;
    -ms-animation: fadeIn 30s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    30% {opacity: 1;}
    100% {opacity: 1;}
}



/* -------------- FOOTER STYLES -------------- */

#footer {
    background-color: #080a40;
    height: 5.5rem;
    width: 100%;
    }
.footerText {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #e9ecf2;
    font-weight: 400;
    font-size: .8rem;
    line-height: 5.5rem;
    text-align: center;
}   
.textHighlight {
    color: #d8b478;
    font-weight: 600;
} 